@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://cdn.syncfusion.com/ej2/material.css');
.App{
  font-size: 2em;
  font-weight: 700;
  font-family: 'Montserrat', 'Arial', sans-serif;
  background-color: #757575;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 100vh;
}

.create-form label{
  color: white !important;
  font-family: 'Montserrat', 'Arial', sans-serif;
}

.partieDroite{
  text-align: center;
}