@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
  background-color: black;
}

header{
  background-color: black;
  color: crimson;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid white;
  padding-left: 1%;
  padding-right: 1%;
}

h1{
  margin: 0;
  
}

nav{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App {
  height: 100vh;
  
  background-image: url(./image/oeilbg.jpg);
  background-size: cover;
  background-position: left;
}

.route{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}

.container {
  text-align: center;
  margin: 0;
  width: 70%;
}

.field{
  background-color: white;
  min-height: 60%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
}

.shadow{
  box-shadow: 5px 5px 10px black;
}

form{
  min-height: 130px;
  min-width: 250Px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn{
  font-size: 1.2rem;
}

.btn-primary{
  color: white;
  background-color: crimson;
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 80px;
}

.form-group{
  display: flex;
  justify-content: space-between;
}