@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
  background-color: black;
}

header{
  background-color: black;
  color: crimson;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid white;
  padding-left: 1%;
  padding-right: 1%;
}

h1{
  margin: 0;
  
}

.App {
  height: 100vh;
  
  background-image: url(./image/oeilbg.jpg);
  background-size: cover;
  background-position: left;
}

.route{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}

.container {
  text-align: center;
  margin: 0;
  width: 70%;
}

.read{
  width: 80%;
}